a {
  color: black;
}

p {
  display: block;
}

div {
  display: block;
}

/* Header Bar Styles*/
.header {
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  border-bottom: 1px solid;
  width: 100%;
}

.navbar {
  flex-direction: right;
}

.headeritem {
  flex: wrap;
  display: inline-block;
  padding: 10px 20px;
}

.logoitem {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logoitem span {
  color: mediumaquamarine;
  margin-left: 15px;
}

/* Main Content Styles */
.maincontentContainer {
  display: flex;
}

.column {
  display: flex;
  margin-right: 32px;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.storyBoard {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.storyBoard.column {
  flex-direction: column;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.story.image {
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
}

.story.image.main {
  width: 630px;
  font-size: 40px;
  text-align: left;
}

.narrative {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* News Bites Section */
.newsBites {
  font-size: 16px;
  font-weight: bold;
}

.newsBites h3 {
  margin: 20px 20px;
  text-align: center;
}

.newsBites.bite {
  display: block;
  background-color: whitesmoke;
  font-family: Verdana;
  font-size: 12px;
  color: dimgray;
  padding: 10px 20px;
  border-bottom: 1px solid black;
}

/* Footer Section */

footer {
  color: black;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: mediumaquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer span {
  display: inline-block;
  padding: 10px 15px;
}

footer .title {
  display: flex;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 5px 5px;
  border-right: 2px solid white;
}

footer .navigation {
  display: flex;
  align-items: center;
}

footer .copyright {
  display: flex;
}

/* Images for Stories */
#mainStory {
  background-image: url("../../resources/images/img-story-main.png");
}

#earthSpinStory {
  background-image: url("../../resources/images/img-story-2.png");
}

#cameraMemoryStory {
  background-image: url("../../resources/images/img-story-3.png");
}

#catControlStory {
  background-image: url("../../resources/images/img-story-1.png");
}