a {
  color: black;
}

p {
  display: block;
}

div {
  border: 1px solid;
}

/* Header Bar Styles*/
.header {
  display: flex;
  align-items: center;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  border-bottom: 1px solid;
  width: 100%;
}

.navbar {
  flex-direction: right;
}

.headeritem {
  flex: wrap;
  display: inline-block;
  padding: 10px 20px;
}

.logoitem {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logoitem span {
  color: mediumaquamarine;
  margin-left: 15px;
}

/* Main Content Styles */
.maincontentContainer {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  min-width: 630px;
}

.column.medium {
  min-width: 300px;
}

.column.small {
  min-width: 240px;
}

.headlineStory {
  display: flex;
}

.headlineStoryNarrative {
  font-size: 40px;
}

.story {
  display: flex;
  flex-direction: column;
}

.narrative {
  font-size: 17px;
}

.newsBiteImage {
  display: flex;
}
